body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

li a:hover{
  color: rgb(255, 255, 255);
  transition: 0.7s;
  background-color: #04495b;
  padding: 6px;
}

section {
  margin: 0 20px;
}

section.full-screen {
  margin: 0;
}

.relative-container img{
  width: 50px;
  height: auto;
  padding-left: 25px;
}

.relative-container b {
  font-size: 22px;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
}

nav > ul {
  margin-left: auto;
  margin-right: 16px;
}

nav > ul > li {
  display: inline-block;
}

nav > span > img {
  height: 32px;
  width: auto;
  padding: 8px;
}

nav > span {
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  color: white;
  background-color: #04495b;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
}

.relative-container {
  position: relative;
}

header h1 {
  margin: 16px;
}

header p {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
}

#taekwondo-photos .grid-container {
  display: grid;
  gap: 10px;
}

#taekwondo-photos .grid-container img {
  width: 100%;
  height: 100%;
}

#taekwondo-photos .grid-container img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.grid-container #item-1 {
  grid-row: 1;
}

#section-ranking .grid-container{
  display: grid;
  gap: 8px;
}

#section-ranking .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

figcaption {
  text-align: center;
}

#section-video .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop li {
  margin: 18px;
}

fieldset {
  margin: 16px 0;
  border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #04495b;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  iframe {
    max-width: 600px;
  }

  #taekwondo-photos .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: 320px 320px;
  }

  #taekwondo-photos .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .grid-container #item-2 {
    grid-row: 1;
  }
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media only screen and (max-width: 1110px) {
  .mobile {
    display: block;
    margin-right: 15px;
    margin-left: auto;
  }

  .desktop {
    display: none;
  }
}

.mobile:hover {
  background-color: #04495b;
  border-radius: 3em;
  transition: 0.5s;
  padding: 4px;
}